*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #f13024;
    --big-font: 7rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: sticky;
    background-color: rgba(31, 31, 33, 0.95);
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    -webkit-transition: all ease .45s;
    -moz-transition: all ease .45s;
    -ms-transition: all ease .45s;
    -o-transition: all ease .45s;
    transition: all ease .45s;
}

.logo {
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    -webkit-transition: all ease .50s;
    -moz-transition: all ease .50s;
    -ms-transition: all ease .50s;
    -o-transition: all ease .50s;
    transition: all ease .50s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.menu-btn {
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    display: none;
}

#menu-icon {
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section {
    padding: 0 15%;
}

.home-about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-about-img {
    width: 730px;
    height: 730px;
}

.home-about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-animation: imgg 2s ease-in-out infinite;
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

.home-about-text span {
    padding: 5px 25px;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.home-about-text h1 {
    font-size: var(--big-font);
    margin: 23px 0;
}

.home-about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

#hiddenContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#hiddenContent.expanded {
    max-height: 400px;
    opacity: 1;
}

.btn {
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.two {
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.two:hover {
    background: var(--text-color);
    color: #141414;
    border: 2px solid var(--text-color);
}

/* Contact Section */
.contact {
    position: relative;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contact h1 {
    font-size: var(--big-font);
    margin: 23px 0;
}

.contact p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 30px;
    font-size: var(--p-font);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact form button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact form button:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

.share {
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p {
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.social i:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

@media (max-width: 1850px) {
    header {
        padding: 15px 8%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    section {
        padding: 0 8%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .share {
        left: 8%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
}

@media (max-width: 1370px) {
    header {
        padding: 15px 4%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    section {
        padding: 0 4%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .share {
        left: 4%;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    :root {
        --big-font: 5.5rem;
        --p-font: 1rem;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
}

@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }

    :root {
        --big-font: 5rem;
        --p-font: 1rem;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .about {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about-text h2, 
    .projects h2, 
    .contact h2 {
        text-align: center;
    }
}

@media (max-width: 950px) {
    .share {
        display: none;
    }

    section {
        padding: 70px 4%;
    }

    header {
        padding: 11px 4%;
        background: #2d2d2d;
    }

    .home-about {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-about-text {
        order: 2;
    }

    .home-about-img {
        margin: auto;
        height: auto;
        width: auto;
    }

    .home-about-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

    .projects-container {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50 px;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: none;
        flex-direction: column;
        background: #2d2d2d;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .menu-btn {
        display: flex;
    }

    .navbar.open {
        left: 0;
        opacity: 1 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        padding: 10%;
        display: flex;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }  

    .home-about-img img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    
    .btn {
        padding: 9px 28px;
    }

    .contact form input,
    .contact form textarea {
        max-width: 90%;
        margin: 10px auto;
    }
}

@keyframes imgg {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-22px);
        -moz-transform: translateY(-22px);
        -ms-transform: translateY(-22px);
        -o-transform: translateY(-22px);
        transform: translateY(-22px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}